@import url('../styles/fonts.css');

.site-title {
  background-color: #1f1f1f;
  background-image: url("../assets/images/background.png");
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.site-background {
  padding-top: 5rem;
  text-align: center;
  color: white;
}

.description {
  color: beige;
  font-size: 1.8rem;
  font-family: Glamor-bei, cursive;
}

.content {
  font-family: Vanjar, cursive;
  font-size: 2.5rem;
}

main .site-title h1, main .site-title h3 {
  margin: .3rem;
}

main .site-title .btn {
  margin: 1.8rem 0.3rem;
  background: rgb(245, 245, 220);
  border-radius: 2rem;
  font-weight: 600;
}

main .site-title a.btn.btn-signin {
  border-radius: 2rem;
  padding: 1rem 3rem;
  text-decoration: none;
  font-family: Lexend, cursive;
}

main .site-title .btn.btn-signin {
  background: none;
  color: white;
  border: 1px solid beige;
}

main .site-title .btn:hover {
  margin: 1.8rem 0.3rem;
  background: transparent;
  border-radius: 2rem;
  border: 1px solid beige;
  color: white;
}

main .site-title .btn.btn-signin:hover {
  background: beige;
  color: black;
}

main .site-title a.btn {
  border: none;
  border-radius: 2rem;
  padding: 1rem 3rem;
  text-decoration: none;
  font-family: Lexend, cursive;
}